@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Learn about Joel";
}
<!DOCTYPE html>
<html>
<head>
    <title>Movie Collection</title>
    <link rel="stylesheet" href="~/bootstrap.css" />
</head>
<body>
<div class="text-center">
    <h1 class="display-4">Learn about Joel!</h1>

    <a href="https://baconsale.com/">
        <img src="/img/Joel_Quick_Wits.jpg" alt="Joel group pic" style="height: 400px;">
    </a>
<p>This is Joel's podcast about films & pop culture.</p>
<a href="https://baconsale.com/" class="btn2">Bacon Sale</a>
<p>This is a comedy club that Joel performs at often!</p>
    <a href="https://www.qwcomedy.com/" class="btn2">Quick Wits Comedy</a>
</div>
</body>
</html>
