@model Movie

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Delete a Movie</title>
    <link rel="stylesheet" href="~/bootstrap.css" />
</head>
<body>
<div>
    <h2>Are You Sure You Want to Delete This Movie?</h2>
    <form method="post">
        <input type="hidden" asp-for="MovieId"/>
        <button class="btn btn-danger" type="submit">Delete</button>
        <a class="btn btn-primary" asp-controller="Home" asp-action="CollectionView">Cancel</a>
    </form>
</div>
</body>
</html>