@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center" xmlns="http://www.w3.org/1999/html">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <a href="/img/Joel_headshot.jpg">
        <img src="/img/Joel_headshot.jpg" alt="Joel's Headshot">
    </a>
    <p class="box">Welcome to Joel's film collection! Here you will find
        an archive of movies vetted by Joel... <br> (and his wife)</p>
    <p class="box">You can also learn more about Joel and what makes him such a rad dude
       <br> by clicking on the "Get to know Joel tab above!"</p>
</div>